nav.navbar-default{
  background: #2c3e50;
  border: none;
  border-radius: 0;
  color: white;

  a{
    color: inherit !important;
  }

  .navbar-toggle .icon-bar{
    background-color: #fff;
  }

  .fa-sign-out{
    margin-right: 5px;
  }
}
